<table class="parset">
  <% 
  parset_keys = parset.map{ |key,val| val.keys }
  common_keys = parset_keys.inject(:&)
  all_keys = parset_keys.inject(:|)
  individual_keys = all_keys - common_keys
  %>
  <thead>
    <tr>
    <% (common_keys + individual_keys).each do |key| %>
      <th class="parval.<%= key %>"><%= key %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% parset.each do |parids,param| %>
    <tr>
      <% (common_keys + individual_keys).each do |key| %>
	<td class="parval.<%= key %>">
	<% unless param[key].nil? %>
	  <% param[key].each do |val| %>
            <%= val %>
	  <% end %>
	<% end %>
	</td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
