<% parset.each do |parids,param| %>
<table class="parset">
  <thead>
    <tr>
    <% param.keys.each do |key| %>
      <th class="parval.<%= key %>"><%= key %></th>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% param.each do |key,parval| %>
      <td class="parval.<%= key %>"><%= parval %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>
