<% parset.each do |parids,param| %>
<table>
  <thead>
    <tr>
    <% param.keys.each do |key| %>
      <th><%= key %></th>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% param.each do |key,parval| %>
      <td id="parval.<%= key %>"><%= parval %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>
