<table class="table table-striped table-hover parset">
  <% 
  defaults = {"tunable" => [true], "allow.inf" => [false], "len" => [1]}
  parset2 = parset.merge(parset){ |_,v,_| v.reject{ |k2,v2| (defaults.include?(k2) && defaults[k2] == v2)} }
  parset_keys = parset2.map{ |_,val| val.keys }
  common_keys = parset_keys.inject(:&)
  all_keys = parset_keys.inject(:|)
  individual_keys = all_keys - common_keys
  %>
  <thead>
    <tr>
    <% (common_keys + individual_keys).each do |key| %>
      <th class="parval.<%= key %>"><%= key %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% parset2.each do |parids,param| %>
    <tr>
      <% (common_keys + individual_keys).each do |key| %>
      	<td class="parval.<%= key %>">
      	<% unless param[key].nil? %>
          <% if (param[key].kind_of? Hash) %>
            <%= param[key].values.join(', ') %>
          <% else %>
            <% param[key].join(', ') %>
      	  <% end %>
      	<% end %>
      	</td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
